body,
.v-application {
  font-family: 'Poppins', sans-serif !important; }

.v-application label.primary--text {
  color: #5e2ced !important;
  caret-color: #5e2ced !important; }

.mini-heading {
  font-size: 15px;
  font-weight: 300; }

.big-heading {
  font-size: 20px;
  font-weight: 700; }
  @media (min-width: 768px) {
    .big-heading {
      font-size: 30px; } }

.bg-black {
  background-color: black; }

.bg-color-one {
  background-color: #ae95f5 !important; }

.color-one {
  color: #5e2ced !important; }

.btn-primary {
  border: 1px transparent !important;
  background-color: #5e2ced !important;
  padding: 10px 30px;
  margin-top: 10px;
  box-shadow: 0 0 0 0.2rem transparent !important; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:checked, .btn-primary:target {
    background-color: #5e2ced !important;
    box-shadow: 0 0 0 0.2rem #5e2ced !important; }
  .btn-primary-filled {
    border: 1px solid black !important;
    background-color: white !important;
    color: black;
    padding: 10px 30px;
    margin-top: 10px; }
    .btn-primary-filled:hover, .btn-primary-filled:focus {
      border: 1px solid white !important;
      background-color: #5e2ced !important;
      color: white !important; }

.form-card {
  border: 1px solid --muted;
  -webkit-box-shadow: 0 0 1.5px grey;
  box-shadow: 0 0 1.5px grey;
  border-radius: 1rem !important; }

.small-text {
  font-size: .8rem; }

.imgContainer {
  position: relative;
  padding-top: 30vw !important; }

.sliderImgWrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 2rem; }

.sliderImg {
  border-radius: 1.5rem; }

.text-underline-one {
  border-bottom: 3px solid #5e2ced !important; }

.planCardHeader {
  border-radius: 1rem 1rem 0rem 0rem;
  border-color: #5e2ced !important; }

.planCardFooter {
  border-radius: 0rem 0rem 1rem 1rem;
  border-color: #5e2ced !important; }

.corner-ribbon {
  z-index: 100;
  width: 200px;
  background: #5e2ced !important;
  position: absolute;
  top: 3%;
  right: -32%;
  text-align: center;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(35deg);
  -webkit-transform: rotate(35deg); }

.v-text-field > .v-input__control > .v-input__slot:after {
  color: #5e2ced !important; }
  .v-text-field > .v-input__control > .v-input__slot:after:focus, .v-text-field > .v-input__control > .v-input__slot:after:active, .v-text-field > .v-input__control > .v-input__slot:after:checked, .v-text-field > .v-input__control > .v-input__slot:after:target {
    color: #5e2ced !important; }

.mdi-radiobox-marked::before {
  color: #5e2ced !important; }

.v-radio label {
  left: 3px !important;
  top: 3px; }

.v-list {
  border: 1px solid #5e2ced !important; }

.v-list-item {
  border-bottom: 1px solid #6c757d; }
  .v-list-item:hover {
    background-color: #5e2ced !important;
    color: white !important; }

.theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
  color: #6c757d !important; }
  .theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled):hover {
    color: white !important; }

.test::-webkit-scrollbar {
  width: 4px; }
.test::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  border-radius: 1rem; }
.test::-webkit-scrollbar-thumb {
  background-color: #ae95f5 !important;
  background-clip: padding-box;
  border-radius: 1rem; }

.fixed-slider {
  position: relative; }
  @media (min-width: 768px) {
    .fixed-slider {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      left: 0;
      height: 30vh; } }

/*# sourceMappingURL=style.css.map */
