$color-one: rgb(94, 44, 237) !important;
$color-one-light: rgb(174,149,245) !important;
$color-two: rgb(204, 17, 43) !important;
$color-two-dark:rgb(116, 4, 16)!important;


body,
.v-application
 {
    font-family: 'Poppins', sans-serif !important;
}


.v-application label.primary--text{
        color: $color-one ;
        caret-color: $color-one;

}

.mini-heading {
    font-size: 15px;
    font-weight: 300;
}
.big-heading {
    font-size: 20px;
    font-weight: 700;


    @media (min-width: 768px) {   
          font-size: 30px;
    }

}


.bg-black {
    background-color: black;
}

.bg-color-one {
    background-color: $color-one-light
}
.color-one {
    color: $color-one;
}

.btn-primary {
    border: 1px transparent !important;
    background-color: $color-one;
    padding: 10px 30px;
    margin-top: 10px;
    box-shadow: 0 0 0 0.2rem transparent !important;


    &:hover,
    &:focus,
    &:active,
    &:checked,
    &:target {

        background-color: $color-one;
        box-shadow: 0 0 0 0.2rem $color-one ;
    }

   



    &-filled {
        border: 1px solid black !important;
        background-color: white !important;
        color: black;
        padding: 10px 30px;
        margin-top: 10px;

        &:hover,
        &:focus {
            border: 1px solid white !important;
            background-color: $color-one;
            color: white !important;
        }
    }
}



  

  .form-card  {
      border: 1px solid --muted;
      -webkit-box-shadow: 0 0 1.5px grey;
      box-shadow: 0 0 1.5px grey;
      border-radius: 1rem !important;

    }


    .small-text {
        font-size: .8rem;
    }


    .imgContainer {
        position: relative;
        padding-top: 30vw !important;

        

    }

    .sliderImgWrapper {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 2rem;
    }

    .sliderImg{
        border-radius: 1.5rem;
    }

    .text-underline-one {
        border-bottom: 3px solid $color-one;
    }

    .planCardHeader {
        border-radius: 1rem 1rem 0rem 0rem;
        border-color: $color-one;
    }

    .planCardFooter {
        border-radius: 0rem 0rem 1rem 1rem;
        border-color: $color-one;
    }

    .corner-ribbon{
        z-index: 100;
        width: 200px;
        background: $color-one;
        position: absolute;
        top: 3%;
        right: -32%;
        text-align: center;
        letter-spacing: 1px;
        color: #f0f0f0;
        transform: rotate(35deg);
        -webkit-transform: rotate(35deg);
      }



      .v-text-field>.v-input__control>.v-input__slot:after{
            color: $color-one;
            &:focus,
            &:active,
            &:checked,
            &:target{
                color: $color-one;
            }
      }

      .mdi-radiobox-marked::before { 
          color: $color-one;
      }

      .v-radio label {
          left: 3px !important;
          top: 3px;
      }

      .v-list { 
          border: 1px solid $color-one
      }

      .v-list-item { 
          border-bottom: 1px solid #6c757d;
          
        &:hover {
            background-color: $color-one;
            color:white !important
        }
      }

      .theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled){
          color: #6c757d !important;
        &:hover {
            color:white !important
        }
    }

    .test {


        &::-webkit-scrollbar {
            width: 4px;
        }


        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
            -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
            border-radius: 1rem;

        }


        &::-webkit-scrollbar-thumb {
            background-color: $color-one-light;
           background-clip: padding-box;  
           border-radius: 1rem;
          } 
    
    }

    .fixed-slider {
        position: relative;

        @media (min-width: 768px) { 
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            left: 0;   
            height: 30vh;     
        }
    }

    